.navbar { background-color: #2fa8ef !important }
.logo { background-color: #1ba1f1 !important }
.content-wrapper { background-color: #ffffff !important }
#rrListDiv{ float:left; width:100%; margin-bottom:1%;}
.acceptrejectDiv{ float:right }
.rrList:nth-child(odd) { background-color: #f2f2f2 }
.createRoomType{ color:white; background-color:#660066 }
#createHeader{ background-color:#003300; color:white; }
#createRoomTypeButton{ background-color:#660066; color:white; }
.createRoom{ background-color:#ff0066; color:white; }
.rightFloat{ float:right; }
md-tabs.md-no-animation md-tab-content {
    transition: none;
}
md-tabs.md-no-animation md-ink-bar {
    transition: none;
}
.employeeName{
    font-size:20px;
}
.logoPic{
    height:128px;
    width:128px;
    float:left;
}
.servicePic{
    height:32px;
    width:32px;
    float:right;
}
.foodDetails{
    margin-top:1%;
}